Screen {
    background: $surface-darken-1;
}

#tree-view {
    display: none;
    /* overflow: hidden; */

    /* if we want the scrollbar */
    overflow: auto;
    scrollbar-background: $surface-darken-1;
    scrollbar-color-hover: $secondary-darken-1;
    scrollbar-color: $secondary;
    scrollbar-size: 1 1;
    scrollbar-gutter: stable;
    width: 35;
    height: 100%;
    dock: left;
    background: $surface-darken-1;
    border: round $secondary;
}

Browser.-show-tree #tree-view {
    display: block;
    max-width: 50%;
}

#logo {
    border: round $secondary;
    content-align: center middle;
    /* color: $primary-lighten-3; */
}

#plot {
    overflow: auto;
    min-width: 100%;
    /* border: round $secondary; */
}

#error{
    overflow: auto;
    min-width: 100%;
    background: $surface-darken-1;

    scrollbar-background: $surface-darken-1;
    scrollbar-color-hover: white;
    scrollbar-color: $secondary-lighten-2;
    scrollbar-size: 1 1;
    scrollbar-gutter: stable;
}

#empty {
    border: round $secondary;
    text-align: center;

    display: none;
    overflow: auto;
    scrollbar-background: $surface-darken-1;
    scrollbar-color-hover: $secondary-darken-1;
    scrollbar-color: $secondary;
    scrollbar-size: 1 1;
    scrollbar-gutter: stable;
    background: $secondary-darken-1;
    border: round $secondary;
}


Footer > .footer--highlight {
    background: $secondary-darken-2;
}

Footer > .footer--key {
    text-style: bold;
    background: $secondary-darken-3;
}

Footer > .footer--highlight-key {
    background: $secondary-darken-3;
    text-style: bold;
}

Footer{
    background: $secondary;
    /* tint: $secondary; */

    /* footer--key: $secondary-darken-1 */
    /* buttons: $secondary-darken-1 */
}


UprootTree > .uproot-tree--folder {
    text-style: bold;
}

UprootTree > .uproot-tree--file {

}

UprootTree > .uproot-tree--extension {
    text-style: italic;
}

UprootTree > .uproot-tree--hidden {
    color: $text 50%;
}
