Screen {
    background: $surface-darken-1;
}

#tree-view {
    display: none;
    scrollbar-gutter: stable;
    overflow: auto;
    width: 30;
    height: 100%;
    dock: left;
}

Browser.-show-tree #tree-view {
    display: block;
    max-width: 50%;
}

#logo {
    border: round $secondary;
    content-align: center middle;
    /* color: $primary-lighten-3; */
}

#plot-view {
    overflow: auto scroll;
    min-width: 100%;
}
#code {
    width: auto;
}
