name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main
  release:
    types:
      - published

concurrency:
  group: ${ github.workflow }-${ github.ref }
  cancel-in-progress: true

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    - uses: pre-commit/action@v3.0.1
    - name: PyLint
      run: pipx run nox -s pylint

  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.11"]
        runs-on: [ubuntu-latest, macos-13, windows-latest]

        include:
        - python-version: pypy-3.9
          runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package
      run: python -m pip install ".[test]"

    - name: Test package
      run: python -m pytest

    - name: Install minimum versions
      run: python -m pip install ".[test]" -c tests/constraints.txt

    - name: Test minimum versions
      run: python -m pytest

  pass:
    if: always()
    needs: [checks]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}

  dist:
    name: Distribution build
    runs-on: ubuntu-latest
    needs: [pre-commit]

    steps:
    - uses: actions/checkout@v4
    - uses: hynek/build-and-inspect-python-package@v2


  publish:
    name: Publish
    environment: pypi
    permissions:
      id-token: write
      attestations: write
      contents: read
    needs: [dist]
    if: github.event_name == 'release' && github.event.action == 'published'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v4
      with:
        path: dist
        name: Packages

    - name: Generate artifact attestation for sdist and wheel
      uses: actions/attest-build-provenance@173725a1209d09b31f9d30a3890cf2757ebbff0d # v1.1.2
      with:
        subject-path: "dist/uproot_browser-*"

    - uses: pypa/gh-action-pypi-publish@release/v1
